.app__banerEnd{
    width: 100%;
    display: flex;
    flex-direction: column;

    margin: 2rem 0;
    padding: 2rem ;
    background: white;
    gap: 2rem;

}
.app__banerEnd h3{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    
    letter-spacing: 0.02em;
    
    /* TWS Black */
    
    color: #434343;
}
.app__banerEnd-head-info{

    display: flex;
    justify-content: space-between;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    
    letter-spacing: 0.02em;
    
    /* TWS Black */
    
    color: #434343
}

.app__banerEnd-head-info span{
    color: #DC3636;
}

@media (max-width:800px) {
    .app__banerEnd-head-info-1{
        font-size: smaller;
    }
}